name: Publish release
on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: ${GITHUB_REF#refs/*/}
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Docker Build
      run: |
        docker images
        docker build -t bookstorecw1/catalog-svc:${GITHUB_REF#refs/*/} .
    - name: Docker push
      run: |
        docker push bookstorecw1/catalog-svc:${GITHUB_REF#refs/*/}
